.button {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 1rem 3rem;
  border-radius: 0.25rem;
  margin: 1rem;
  box-shadow: rgba(10,10,10,0.3) 1px 1px 0.5rem;
  cursor: pointer;
}
